@charset "utf-8";
/* CSS Document */

#slider{    
    height:240px;    
   /* box-shadow: 0 0 20px rgba(0,0,0,0.4); */
	position: relative; 
	width:1700px;
	
}
#slider div{	
	overflow:hidden;
	width:320px;
	float:left;
	position:relative;
	display:inline-block;
	}
#slider div img{
	width:100%;
	}
#container{
	background:#333333;
	margin: 0px auto; 
    position: relative; 
	overflow:hidden;
	width: 320px; 
    height:240px ; 
	}
